@import './fonts';
@import './colors';

body {
  background: $darkmain;
}

.FamilyTreeMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-top: 4rem;
  color: $lightmain;

  .go-to-top {
    background-color: $lightmain;
    color: $darkmain;
    border: none;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }

  .main-box {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 100vh; /* Ensure the main box does not go below the screen */
    overflow: hidden; /* Prevent scrolling within the main box */
    
    .header-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      p {
        font-size: 1.5rem;
        font-weight: bold;
      }
      
      .go-back {
        background-color: $lightmain;
        color: $darkmain;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
      }
    }
    
    .body-box {
      background-color: $lightmain;
      color: $darkmain;
      border-radius: 10px;
      padding: 1rem;
      height: calc(85vh - 8rem); /* Adjust height to account for header and padding */
      display: flex;
      flex-direction: column;
      overflow: hidden; /* Ensure no overflow outside the body-box */
      
      .photo-box {
        display: flex;
        align-items: center;
        flex-direction: row;

        .person-image,
        .spouse-image {
          width: 75px;
          height: 75px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 1rem;
        }

        .spouse-box {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .spouse-name {
            p {
              margin: 0;
              font-size: 1.2rem;
            }
          }
        }
      }

      .details-box {
        margin-top: 1rem;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 1rem;
        border-radius: 8px;

        .details-header {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        .details-text {
          font-size: 1rem;
        }
      }

      .children-box {
        margin-top: 1rem;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 1rem;
        border-radius: 8px;
        flex-grow: 1; /* Allow the children box to take up available space */
        overflow-y: auto; /* Enable scrolling within the children box */

        p {
          font-size: 1.2rem;
          font-weight: bold;
        }

        .child-box {
          background-color: rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          padding: 1rem;
          margin-top: 0.5rem;

          .person-box {
            display: flex;
            align-items: center;
            cursor: pointer;

            .person-image {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
              margin-right: 1rem;
            }

            .person-name {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
