@import './fonts';
@import './colors';

.Hymn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  width: 100%;
  overflow: hidden;
  background-color: $darkmain;
  color: $lightmain;
}